# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
*.env
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Logs
*.log

# Outputs
outputs/

# Dataset
CamVid/*


# Configurations
config.py

# Temporary files
*.tmp
*.temp

# Model files
*.pth
*.h5

# Visualization
visualization/improved_unet_predictions/
visualization/unet_predictions/
